* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

.logo {
    position: absolute;
    margin-top: -70px;
    margin-left: -40px;
}

.header {
    overflow: hidden;
    grid-area: cabecalho;
    background-color: #f1f1f1;
}


.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #fff;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #2070ca;
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}

.modulo.azul {
    border: 2px solid #3c89e0; 
}

.modulo.azul > h3 { 
    background-color: #3c89e0; 
    font-size: 20px;
}

.modulo.verde {
    border: 2px solid #178625; 
}

.modulo.verde > h3 { 
    background-color: #178625; 
    font-size: 20px;
}

.modulo.amarelo {
    border: 2px solid #ffd20a; 
}

.modulo.amarelo > h3 { 
    background-color: #ffd20a; 
    font-size: 20px;
}

p.divisao {
    margin-bottom: 0px;
    font-weight: bold;
}

hr {
    margin-top: 0px;
}


form {

    padding: 30px;
}

h1 {
    justify-self: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.botao {
    border-radius: 50%;
    border: 1px solid #6b0101;
}


.resultado {
    margin-top: -20px;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    justify-self: center;
    color: black;

}

